<!-- component -->

<div class="flex h-full max-h-full">
   <div class="p:2 w-full justify-between flex bg-white flex-col ">
      <div class="flex sm:items-center justify-between px-4 py-6 border-b border-gray-200">
         <div class="relative flex items-center space-x-2">
            <div class="relative">
               <span class="absolute text-green-500 right-0 bottom-0">
                  <svg width="12" height="12">
                     <circle cx="6" cy="6" r="6" fill="currentColor"></circle>
                  </svg>
               </span>
            <img src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&h=764&q=100" alt="" class="w-10 sm:w-10 h-10 sm:h-10 rounded-full">
            </div>
            <div class="flex flex-col leading-tight">
               <div class="text-md font-semibold flex items-center">
                  <span class="text-gray-700 mr-3">Jane Doe</span>
               </div>
               <span class="text-sm text-gray-600">Junior Developer</span>
            </div>
         </div>
         <div class="flex items-center space-x-2">
            <button type="button" class="inline-flex items-center justify-center rounded-full  h-10 w-10 transition duration-150 ease-in-out text-gray-700 bg-gray-200 hover:bg-gray-300 focus:outline-none">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
               </svg>
            </button>
            <button type="button" class="inline-flex items-center justify-center rounded-full bg-gray-200 h-10 w-10 transition duration-150 ease-in-out text-gray-700 hover:bg-gray-300 focus:outline-none">
               <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0,0,256,256" stroke="currentColor" class="h-6 w-6">
                  <g transform="scale(0.05905,0.05905)"><path d="M587,1652c264,0 478,214 478,478c0,264 -214,478 -478,478c-264,0 -478,-214 -478,-478c0,-264 214,-478 478,-478zM2175,1652c264,0 478,214 478,478c0,264 -214,478 -478,478c-264,0 -478,-214 -478,-478c0,-264 214,-478 478,-478zM3763,1652c264,0 478,214 478,478c0,264 -214,478 -478,478c-264,0 -478,-214 -478,-478c0,-264 214,-478 478,-478z"></path></g>
               </svg>
            </button>
         </div>
      </div>
      <div id="messages" class="flex flex-1  flex-col space-y-4 p-4 overflow-y-auto scrollbar-thumb-green scrollbar-thumb-rounded scrollbar-track-green-lighter scrollbar-w-2 scrolling-touch">
         {% for item in range(10) %}
         <div class="chat-message">
            <div class="flex items-end justify-end">
               <div class="flex flex-col space-y-2 text-base max-w-xs mx-2 order-1 items-end">
                  <div><span class="px-4 py-2 rounded-xl inline-block bg-green-600 text-white ">Are you using sudo?</span></div>
                  <div><span class="px-4 py-2 rounded-xl inline-block rounded-br-none bg-green-600 text-white ">Run this command sudo chown -R `whoami` /Users/{{your_user_profile}}/.npm-global/ then install the package globally without using sudo</span></div>
               </div>
               <img src="{{ current_user.photo_picture }}" alt="My profile" class="w-6 h-6 rounded-full order-2">
            </div>
         </div>
         <div class="chat-message">
            <div class="flex items-end">
               <div class="flex flex-col space-y-2 text-base max-w-xs mx-2 order-2 items-start">
                  <div><span class="px-4 py-2 rounded-xl inline-block bg-gray-200 text-gray-600">It seems like you are from Mac OS world. There is no /Users/ folder on linux ?</span></div>
                  <div><span class="px-4 py-2 rounded-xl inline-block rounded-bl-none bg-gray-200 text-gray-600">I have no issue with any other packages installed with root permission globally.</span></div>
               </div>
               <img src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&h=764&q=100" alt="My profile" class="w-6 h-6 rounded-full order-1">
            </div>
         </div>
         <div class="chat-message">
            <div class="flex items-end justify-end">
               <div class="flex flex-col space-y-2 text-base max-w-xs mx-2 order-1 items-end">
                  <div><span class="px-4 py-2 rounded-xl inline-block rounded-br-none bg-green-600 text-white ">yes, I have a mac. I never had issues with root permission as well, but this helped me to solve the problem</span></div>
               </div>
               <img src="{{ current_user.photo_picture }}" alt="My profile" class="w-6 h-6 rounded-full order-2">
            </div>
         </div>
         <div class="chat-message">
               <div class="flex items-end">
               <div class="flex flex-col space-y-2 text-base max-w-xs mx-2 order-2 items-start">
                  <div><span class="px-4 py-2 rounded-xl inline-block bg-gray-200 text-gray-600">I get the same error on Arch Linux (also with sudo)</span></div>
                  <div><span class="px-4 py-2 rounded-xl inline-block bg-gray-200 text-gray-600">I also have this issue, Here is what I was doing until now: #1076</span></div>
                  <div><span class="px-4 py-2 rounded-xl inline-block rounded-bl-none bg-gray-200 text-gray-600">even i am facing</span></div>
               </div>
               <img src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&h=764&q=100" alt="My profile" class="w-6 h-6 rounded-full order-1">
               </div>
         </div>
         {% endfor %}
      </div>
      {% include 'component/chatinput.html'   %}
   </div>
   {% include 'component/chatdetailpanel.html'   %}
</div>
<style>
 .scrollbar-w-2::-webkit-scrollbar {
   width: 0.4rem;
   height: 0.25rem;
 }
 
 .scrollbar-track-green-lighter::-webkit-scrollbar-track {
   --bg-opacity: 1;
   background-color: #ffffff;
 }
 
 .scrollbar-thumb-green::-webkit-scrollbar-thumb {
   background-color: #e7e7e7;
 }
 .scrollbar-thumb-green::-webkit-scrollbar-thumb:hover {
   background-color: #d8d8d8;
 }
 
 .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
   border-radius: 1rem;
 }
</style>
 
<script>
     const el = document.getElementById('messages')
     el.scrollTop = el.scrollHeight
</script>