<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/logo/logo.png')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='images/logo/logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="../node_modules/flowbite/dist/flowbite.js"></script>
    <title>Dom Chat</title>
  </head>
  <body >
    {% block body %}
    
    {% endblock %}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

</html>
