<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/logo/logo.png')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='images/logo/logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js"></script>

    <title>Dom Chat</title>
  </head>
  <body >
    {% block body %}
    
    {% endblock %}
  </body>
  <script src="{{ url_for('static',filename='js/base.js' ) }}">
 </script>
</html>
