{% extends 'home.html' %}
{% block title %} - Cửa hàng{% endblock %}
{% block homeView %}
    <div class="flex w-full flex-col bg-bg-gray-100 ">
      <nav>
        <div class="pt-6 pb-3 flex flex-col bg-white border-r w-full dark:bg-gray-900 dark:border-gray-700">
          <div class="flex items-center justify-between px-4">
            <div class="flex justify-between w-full" aria-label="Breadcrumb">
              <ol class="inline-flex items-center space-x-1">
                <li aria-current="page"> <div class="flex items-center">   <span class=" text-sm font-medium text-gray-500 dark:text-gray-400">Pages</span> </div>
                </li>
                <li aria-current="page"> <div class="flex items-center space-x-1"><span>/</span><span class="text-sm font-medium text-gray-500 dark:text-gray-400">Producs list</span> </div>
                </li>
              </ol>
              <div class="flex items-center justify-end space-x-1">
                <button type="button" class="inline-flex items-center justify-center rounded-md text-sm font-semibold bg-green-600 py-1.5 px-3 transition duration-150 ease-in-out text-white hover:bg-green-700 focus:outline-none">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 256 256" stroke="currentColor" class="h-6 w-6">
                      <g transform="scale(4,4)"><path d="M32,12c-1.104,0 -2,0.896 -2,2v16h-16c-1.104,0 -2,0.896 -2,2c0,1.104 0.896,2 2,2h16v16c0,1.104 0.896,2 2,2c1.104,0 2,-0.896 2,-2v-16h16c1.104,0 2,-0.896 2,-2c0,-1.104 -0.896,-2 -2,-2h-16v-16c0,-1.104 -0.896,-2 -2,-2z"></path></g>
                  </svg>
                  <span>Thêm sản phẩm</span>
               </button>
              <button type="button" class="inline-flex border items-center justify-center rounded-md text-sm border-green-600 py-1.5 px-3 transition duration-150 ease-in-out text-green-600 font-semibold hover:border-green-700 hover:text-green-700 focus:outline-none">
                  Nhập
               </button>
              <button type="button" class="inline-flex border items-center justify-center rounded-md text-sm border-green-600 py-1.5 px-3 transition duration-150 ease-in-out text-green-600 font-semibold hover:border-green-700 hover:text-green-700 focus:outline-none">
                  Xuất
               </button>
              </div>
            </div>
          </div>
          <div class="mt-4 px-4 flex items-center justify-between space-x-2">
              <div class="w-full space-x-2 flex items-center">
                  <div class="relative flex-1">
                      <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                      </div>
                      <input type="text" id="search-guest" class="bg-gray-100 text-gray-900 text-sm outline-none rounded-full focus:ring-green-500 focus:ring-1 block w-full pr-4 pl-10 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 " placeholder="Tìm kiếm sản phẩm..." required="">
                  </div>

              </div>
          </div>
          <div class="flex items-center justify-between mt-3 px-4 ">
            <div class="flex items-center space-x-1">
              {% for item in ['Trà sữa',"Quán nhậu","Tiệm tóc","Nail spa","Billiards"] %}
              <button class="py-1 px-2 space-x-1 text-sm text-gray-600 hover:bg-green-100 hover:text-green-600 transition-colors flex items-center font-medium duration-150 bg-gray-100 rounded-lg dark:bg-gray-800">
                <span>{{ item }}</span>
              </button>
              {% endfor %}
            </div>

          </div>
        </div>
      </nav>
      <div class="bg-white flex items-center justify-between py-3 px-4">
        <div class=" mt-3">
          <label for="underline_select" class="sr-only">Hiển thị sản phẩm</label>
          <select id="underline_select" class="block py-2 px-0 w-full text-sm text-gray-800 bg-transparent dark:text-gray-400  focus:outline-none focus:ring-0 focus:border-gray-200 peer">
              <option selected value="20">Hiển thị 10 sản phẩm</option>
              <option value="CA">Hiển thị 20 sản phẩm</option>
              <option value="FR">Hiển thị 50 sản phẩm</option>
              <option value="DE">Hiển thị 100 sản phẩm</option>
          </select>
        </div>
        <ol class="flex justify-center gap-1 text-xs font-medium">
          <li>
            <a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 rtl:rotate-180">
              <span class="sr-only">Prev Page</span> <svg   xmlns="http://www.w3.org/2000/svg"   class="h-3 w-3"   viewBox="0 0 20 20"   fill="currentColor" >   <path     fill-rule="evenodd"     d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"     clip-rule="evenodd"   /> </svg>
            </a>
          </li>
          <li>
            <a href="#" class="block h-8 w-8 rounded border border-gray-100 text-center leading-8">
              1
            </a>
          </li>

          <li
            class="block h-8 w-8 rounded border-green-600 bg-green-600 text-center leading-8 text-white"
          >
            2
          </li>

          <li>
            <a href="#" class="block h-8 w-8 rounded border border-gray-100 text-center leading-8">
              3
            </a>
          </li>

          <li>
            <a href="#" class="block h-8 w-8 rounded border border-gray-100 text-center leading-8">
              4
            </a>
          </li>
          <li>
            <a href="#" class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 rtl:rotate-180">
              <span class="sr-only">Next Page</span> <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor" ><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /> </svg>
            </a>
          </li>
        </ol>
      </div>
      <div class="bg-white grid grid-cols-6 p-4 gap-6 overflow-y-auto scrollbar-thumb-green scrollbar-thumb-rounded scrollbar-track-green-lighter scrollbar-w-2 scrolling-touch h-full">
        {% for item in range(12) %}
          {% include '/component/productCard.html'   %}
        {% endfor %}
        {# loading card #}
        {% for item in range(6) %}
        {% include '/component/productLoading.html'   %}
        
        {% endfor %}
      </div>
      
    </div>
{% endblock %}